@model Bibliotek.Models.ViewModels.MemberDetailsVM

@{
    ViewData["Title"] = "Details";
}

@{

}
<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
    </dl>
</div>

<table class="table">
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>
        }
    </tbody>
</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Member.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
