@model Bibliotek.Models.ViewModels.MemberDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                <p>Aktiva lån</p>
            </th>
            <th>
                <p>Datum för lån:</p>
            </th>
            <th>
                <p>Status</p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateLoan.Date.Date.ToShortDateString()
                </td>
                <td>
                    @{ var color = "red";
                        string returnDate = $"Inlämnas senast: {Model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateLoan.Date.AddDays(14).ToShortDateString()}";
                        if (Model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateReturn != null)
                        {
                            color = "green";
                        }
                    }
                    <span class="glyphicon glyphicon-book @color" title="@returnDate"></span>
                    @Html.DisplayFor(model => model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateReturn)
                </td>
            </tr>
        }
    </tbody>

</table>


<div>
    <a asp-action="Edit" asp-route-id="@Model.Member.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
