@model Bibliotek.Models.ViewModels.MemberDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div class="table-title">
    <div class="row">
        <h2 class="table-title-h2">Detaljer för Medlem</h2>
    </div>
</div>
<br />
<div>
    <p><h4><strong>Namn: </strong>@Html.DisplayFor(model => model.Member.FullName)</h4></p>
    <br />
    <table class="table table-striped">
        <thead class="table-head">
            <tr>
                <th>
                    <p>Lån</p>
                </th>
                <th>
                    <p>Datum för lån:</p>
                </th>
                <th class="text-center">
                    <p>Status</p>
                </th>
                <th>
                    <p>Skuld</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0; }
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateLoan.Date.Date.ToShortDateString()
                    </td>
                    <td class="text-center">
                        @{ var color = "red";
                            string returnDate = $"Inlämnas senast: {Model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateLoan.Date.AddDays(14).ToShortDateString()}";
                            if (Model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateReturn != null)
                            {
                                color = "green";
                            }
                        }
                        <span class="glyphicon glyphicon-book @color" title="@returnDate"></span>
                        @Html.DisplayFor(model => model.Loans.FirstOrDefault(x => x.BookID == item.ID).DateReturn)
                    </td>
                    <td>
                        @ViewBag.Debt[i]
                    </td>
                </tr>
                i++;
            }
            <tr>
                <th class="table-head" colspan="3">
                    Total skuld:
                </th>
                <th class="table-head">
                    @Model.TotalDebt:-
                </th>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <a asp-action="Index" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Tillbaka</a>
    <a asp-action="Edit" asp-route-id="@Model.Member.ID" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i> Redigera</a>
</div>

