@model Bibliotek.Models.ViewModels.LoanDetailsVM

@{
    ViewData["Title"] = "Details";
}

<div class="table-title">
    <div class="row">
        <h2 style="margin: 15px;">Detaljer för Lån</h2>
    </div>
</div>
<br />
<table class="table">
    <tbody>
        <tr>
            <td>
                <strong>
                    @Html.DisplayNameFor(model => model.Loan.MemberID):
                    <br />
                    @Html.DisplayNameFor(model => model.Book.FirstOrDefault().Title):
                    <br />
                    @Html.DisplayNameFor(model => model.Loan.DateLoan):
                    <br />
                    @Html.DisplayNameFor(model => model.Loan.DateReturn):
                </strong>
            </td>
            <td>
                @Html.DisplayFor(model => model.Loan.Member.FullName)
                <br>
                @Html.DisplayFor(model => model.Book.FirstOrDefault(x => x.ID == model.Loan.BookID).Title)
                <br>
                @Html.DisplayFor(model => model.Loan.DateLoan)
                <br>
                @{
                    if (Model.Loan.DateReturn==null)
                    {
                        @Html.Raw("Ej inlämnad!");
                    }
                    else
                    {
                        Html.DisplayFor(model => model.Loan.DateReturn);
                    }
                }
                @Html.DisplayFor(model => model.Loan.DateReturn)
            </td>
        </tr>
    </tbody>

</table>
<br />
<div>
    <a asp-action="Index" class="btn btn-primary"><i class="glyphicon glyphicon-chevron-left"></i> Tillbaka</a>
    <a asp-action="Edit" asp-route-id="@Model.Loan.ID" class="btn btn-warning"><i class="glyphicon glyphicon-edit"></i> Redigera</a>
</div>
