@model Bibliotek.Models.ViewModels.LoanReturnVM

@{
    ViewData["Title"] = "Return";
}

<h2>Returnera</h2>

<h4>Lån</h4>
<hr />
<form asp-action="FilterOnMemberReturn" class="form-inline">
    <div class="form-group">
        <label asp-for="@Model.Member" class="control-label">Visa lån för medlem</label>
        <select asp-for="@Model.SelectMember.ID" asp-items="@Model.Members" class="form-control"></select>
        <button type="submit" class="btn btn-primary">Visa</button>
    </div>
</form>
<div>
    <a asp-action="Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loans.FirstOrDefault().DateLoan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loans.FirstOrDefault().DateReturn)
            </th>
        </tr>
    </thead>
    
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
